
@{
    ViewBag.Title = "AllNews";
}


<br />
<div class="row" ng-controller="noticias">
    <div id="sidebar" class="12u">
        <section>
            <header>
                <h2>Todas as Notícias</h2>
            </header>
            <ul class="style">
                <li ng-repeat="noticia in tbNoticias">
                    <p class="posted">August 11, 2002  |  (10 )  Comments</p>
                    <img src="~/Images/pic04.jpg" alt="" />
                    <p class="text">{{noticia.titulo}}</p>
                </li>
            </ul>
        </section>
    </div>
</div>

<script>
    function ajusteheader() {
        
        var header = document.getElementById('header');
        header.style.height = "250px;";
    }

    ajusteheader();
</script>
