
@{
    ViewBag.Title = "Alunos";
}



<div>
    <h2 class="titulo">Alunos</h2>
</div>
<br />
<br />
<div class="row">
    
    <div id="sidebar" class="6u">
        <section>
            @*<header>
                <h2>Alunos</h2>
            </header>*@
            <ul class="style">
                <li>
                    <p class="posted">João Pedro Benevides</p>
                    <img src="~/Images/pic04.jpg" alt="" />
                    <p class="text">
                        Começou o curso de TI em 2/09/2017,e atualmente está trabalhando como Vendedor das Casas Bahia
                        como jovem aprendiz.Logo estará não somento com o curriculo de ti,mas sim com seu diploma de Analise e desenvolvimento de sistemas
                        projetos e experiencias
                        para iniciar sua carreira profissional,chefe de seu proprio negocio
                    </p>
                </li>
                <li>
                    <p class="posted">Lucas Lopes</p>
                    <img src="~/Images/pic05.jpg" alt="" />
                    <p class="text">
                        Iniciou seus estudos cursando TI na Escola Hercules Maymone,onde descobriu sua vocação profissional
                        a informática.Atualmente Lucas está trabalhando na SGI e cursando Engenharia Civil.
                    </p>
                </li>
                <li>
                    <p class="posted">Igor Gonçalo</p>
                    <img src="~/Images/pic06.jpg" alt="" />
                    <p class="text">Nullam non wisi a sem eleifend. Donec mattis libero eget urna. Pellentesque viverra enim.</p>
                </li>
                <li>
                    <p class="posted">Amanda Gonçalves</p>
                    <img src="~/Images/pic05.jpg" alt="" />
                    <p class="text">Nullam non wisi a sem eleifend. Donec mattis libero eget urna. Pellentesque viverra enim.</p>
                </li>

                <li>
                    <p class="posted">João Pedro</p>
                    <img src="~/Images/pic06.jpg" alt="" />
                    <p class="text">Nullam non wisi a sem eleifend. Donec mattis libero eget urna. Pellentesque viverra enim.</p>
                </li>

                <li>
                    <p class="posted">Renan</p>
                    <img src="~/Images/pic06.jpg" alt="" />
                    <p class="text">Nullam non wisi a sem eleifend. Donec mattis libero eget urna. Pellentesque viverra enim.</p>
                </li>

               

                

            </ul>
        </section>
    </div>

    <div id="sidebar" class="6u">
        <section>
            @*<header>
                <h2></h2>
            </header>*@
            <ul class="style">
                <li>
                    <p class="posted">Matheus Felipe</p>
                    <img src="~/Images/pic06.jpg" alt="" />
                    <p class="text">Nullam non wisi a sem eleifend. Donec mattis libero eget urna. Pellentesque viverra enim.</p>
                </li>
                <li>
                    <p class="posted">Júlia Rezende</p>
                    <img src="~/Images/pic06.jpg" alt="" />
                    <p class="text">Nullam non wisi a sem eleifend. Donec mattis libero eget urna. Pellentesque viverra enim.</p>
                </li>

                <li>
                    <p class="posted">Endrio Rohvedder</p>
                    <img src="~/Images/pic06.jpg" alt="" />
                    <p class="text">Nullam non wisi a sem eleifend. Donec mattis libero eget urna. Pellentesque viverra enim.</p>
                </li>
                <li>
                    <p class="posted">Marcos Gomes</p>
                    <img src="~/Images/pic06.jpg" alt="" />
                    <p class="text">Nullam non wisi a sem eleifend. Donec mattis libero eget urna. Pellentesque viverra enim.</p>
                </li>


                <li>
                    <p class="posted">Yuri</p>
                    <img src="~/Images/pic06.jpg" alt="" />
                    <p class="text">Nullam non wisi a sem eleifend. Donec mattis libero eget urna. Pellentesque viverra enim.</p>
                </li>

                <li>
                    <p class="posted">Bruno</p>
                    <img src="~/Images/pic06.jpg" alt="" />
                    <p class="text">Nullam non wisi a sem eleifend. Donec mattis libero eget urna. Pellentesque viverra enim.</p>
                </li>
            </ul>
        </section>
</div>   
    </div>

<style>
    .style li {
        height: 207px;
    }

    .posted {
        font-weight: bold;
        color: black !important;
        font-size: 9pt !important;
    }

    
</style>
