
@{
    ViewBag.Title = "Detalhes Noticia";
}

<div class="row" ng-controller="home">

    <!-- Content -->
    <div id="content" class="12u skel-cell-important">
        <section>
            <header>
                <h2 style="font-size: 2.5em !important;">{{noticiaPrincipal.titulo}}</h2>
                <span class="byline">{{noticiaPrincipal.subtitulo}}</span>
            </header>
            <a href="#" class="image full"><img src="images/pic07.jpg" alt="" /></a>
            <p>
                {{noticiaPrincipal.resumo}}
            </p>

            <p><a href="#" class="button">Voltar</a></p>
        </section>
    </div>

    
</div>

