
@{
    ViewBag.Title = "Noticias";
}

<div class="row" ng-controller="home">

    <!-- Content -->
    <div id="content" class="8u skel-cell-important">
        <section>
            <header>
                <h2 style="font-size: 2.5em !important;">{{noticiaPrincipal.titulo}}</h2>
                <span class="byline">{{noticiaPrincipal.subtitulo}}</span>
            </header>
            <a href="#" class="image full"><img src="images/pic07.jpg" alt="" /></a>
            <p>
                {{noticiaPrincipal.resumo}}
            </p>
            
            <p><a href="#" class="button">Continuar Lendo</a></p>
        </section>
    </div>

    <!-- Sidebar -->
    <div id="sidebar" class="4u">
        <section>
            <header>
                <h2>Eventos</h2>
            </header>
            <ul class="style">
                <li>
                    <p class="posted"> <main>13 de Março de 2019</main></p>
                    <img src="images/pic04.jpg" alt="" />
                    <p class="text"> Interclasse</p>
                </li>
                <li>
                    <p class="posted"> <main> 13 de Março de 2019</main></p>
                    <img src="images/pic05.jpg" alt="" />
                    <p class="text"> Reunião de pais e mestres</p>
                </li>
                <li>
                    <p class="posted"> <main>13 de Março de 2019</main></p>
                    <img src="images/pic06.jpg" alt="" />
                    <p class="text">Show de talentos</p>
                </li>
            </ul>
        </section>
    </div> <!-- Fim Sidebar -->
</div>

<div id="featured">
    <div class="container">
        <div class="row">
            <div class="4u">
                <!-- <h2>Aenean elementum facilisis</h2> -->
                <a href="#" class="image full"><img style="width:366px; height: 168px;" src="images/comida.jpg" alt="" /></a>
                <p>Confira aquio o cardapio mensal da nossa cantina</p>
                <p><a href="#" class="button">Mais Detalhes</a></p>
            </div>
            <div class="4u">
                <!-- <h2>Fusce ultrices fringilla</h2> -->
                <a href="#" class="image full"><img style="width: 366px; height:168px;" src="images/futebol.jpg" " alt="" /></a>
                <p>Confira a nossa programacao da interclasse</p>
                <p><a href="#" class="button">Mais Detalhes</a></p>
            </div>
            <div class="4u">
                <!-- <h2>Etiam rhoncus volutpat erat</h2> -->
                <a href="#" class="image full"><img src="images/pic03.jpg" alt="" /></a>
                <p>Nullam non wisi a sem semper eleifend. Donec mattis libero eget urna. Donec leo, vivamus fermentum nibh in augue praesent a lacus at urna congue rutrum. Quisque dictum. Pellentesque viverra vulputate enim.</p>
                <p><a href="#" class="button">Mais Detalhes</a></p>
            </div>
        </div>
    </div>
</div>

